
:root {
    /* Fondo y texto normal */
    --bg-color: #ffffff;
    --text-color: #212529;
    
    
    --card-bg: #ffffff; 
    --accent-color: #0d6efd; /* Azul Bootstrap para botones */
    --border-color: #dee2e6;
    
    --heroe-bg: #14a37f; /*  verde esmeralda legible*/
}

/* =========================
   TEMA OSCURO
   ========================= */
.dark-mode {
    --bg-color: #121212;
    --text-color: #e9ecef;
    --card-bg: #1e1e1e;
    --accent-color: #4dabf7;
    --border-color: #2d3139;
    --heroe-bg: #092e22;
}


body {
    background: var(--bg-color);
    color: var(--text-color) ;
    transition: background-color .3s ease, color .3s ease;
}

.card,  .table-container {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color) !important;
}

.table {
            --bs-table-bg: var(--card-bg);
            --bs-table-color: var(--text-color) !important;
            --bs-table-border-color: var(--border-color);
}
.dark-mode select, .dark-mode input{
    
    background-color: var(--heroe-bg);
    color: var(--accent-color);
}


.heroico {
    background-color: var(--heroe-bg) !important;
    border-color: var(--border-color) !important;
    transition: background-color .3s ease, border-color .3s ease;
}
